*{
	margin: 0;
	padding: 0;
}
#main{
	position: relative;
}

.box{
	
	padding: 15px 0 0 15px;
	float: left;
}
.img{
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
}
.img img{
	width: 165px;
	height: auto;
}