* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
.container {
	/*背景颜色*/
	/*background-color: #bfa;*/
	/*间距设定*/
	margin: 30px auto;
	border: #B7B7B7 10px solid;
	border-radius: 10px;
	width: 1000px;
	height: 650px;
	position: relative;
	overflow: hidden;
}
.mainBox {
	width: 460px;
	height: 550px;
	margin: 10px;
	position: relative;
}

.mainBox ul li {
	display: inline-block;
	margin-right: 8px;
	text-align: center;
	cursor: pointer;
}
.tab-head  li {
	background-color: #EFEFEF;
	font-size: 105%;
	width: 130px;
	height: 35px;
	color: green;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-top: 14px;
	border: 1px solid #999999;
	/*border-bottom: solid 2px #999999;*/
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/*border-bottom:none;*/
	/*background-color: #008000;*/
}
.tab-head  ul li:first-child {
	background-image: url(../img/ico.gif);
	background-position: 10px 14px;
	background-repeat: no-repeat;
}
.tab-head  ul li:first-child +li {
	background-image: url(../img/ico.gif);
	background-position: 10px -23px;
	background-repeat: no-repeat
}
.tab-head  ul li.active {
	cursor: default;
	background-color: white;
	border-bottom-color: white;
}
.tab-content {
	border: 1px solid #999999;
	border-radius: 5px;
	border-top-left-radius: 0;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-top: -1px;
	height: 500px;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.tab-content ul {
	margin-left: 20px;
}

.mainBox nav ul li {
	padding-bottom: 20px;
	width: 50px;
}

.picture img {
	border: 1px solid white;
	margin: 0 0 25px 25px;
	cursor: pointer;
}
.picture img:hover {
	box-shadow: 2px 2px 10px #BBB;
	border: 1px solid greenyellow;
}
aside {
	float: right;
	width: 500px;
	height: 655px;
	margin: 10px;
}
.text {
	margin-top: 20px;
	text-align: center;
	font-size: 200%;
	color: #999;
	height: 50px;
	font-style: italic;
}
.glassList li {
	float: right;
	margin: 10px;
	text-align: center;
	opacity: 0.3;
}
.able li{
	opacity: 1;
	cursor: pointer;
	
}
.glassList li img {
	border: 1px solid white;
	border-radius: 5px;

}
.hover img {
	box-shadow: 0 0 10px #23DE30;
}
li.active img {
	box-shadow: 0 0 20px  #FF7979;
}
.face-select .active{
	background-image: url(../img/btn.gif);
	background-repeat: no-repeat;
}
@keyframes myfirst{
	from{width: 100px;}
	to{width: 428px;}
}
@-webkit-keyframes myfirst{
	from{width: 100px;}
	to{width: 428px;}
}
@-ms-keyframes myfirst{
	from{width: 100px;}
	to{width: 428px;}
}
@-moz-keyframes myfirst{
	from{width: 100px;}
	to{width: 428px;}
}

@keyframes second{
	from{left:80px;top:80px;}
	to{left:0px;top: 0px;}
}
@-webkit-keyframes second{
	from{left:80px;top:80px;}
	to{left:0px;top: 0px;}
}
@-ms-keyframes second{
	from{left:80px;top:80px;}
	to{left:0px;top: 0px;}
}
@-moz-keyframes second{
	from{left:80px;top:80px;}
	to{left:0px;top: 0px;}
}



@keyframes third{
	from{opacity: 1;}
	to{opacity: 0;}
}
@-webkit-keyframes third{
	from{opacity: 1;}
	to{opacity: 0;}
}
@-ms-keyframes third{
	from{opacity: 1;}
	to{opacity: 0;}
}
@-moz-keyframes third{
	from{opacity: 1;}
	to{opacity: 0;}
}

.tools {
	background: url(../img/ico.gif) no-repeat  10px -150px white;
	/*background-color: #bfa;*/
	height: 173px;
	width: 35px;
	overflow: hidden;
	border: 1px solid #999999;
	position: absolute;
	left: 390px;
	top: 20px;
	z-index: 2;
	transition: left 1s;
	-webkit-transition: left 1s;
}
.tools li {
	text-align: center;
	font-size: 90%;
	padding-top: 30px;
	width: 35px;
	height: 10px;
	cursor: default;
	opacity: 0.3;
}
.tools li:last-child {
	cursor: pointer;
	opacity: 1;
}

.big_face {
	transition: left 1s;
	-webkit-transition: left 1s;
}
.glassImg {
	cursor: move;
}
